<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <table id="js-table-post" class="table">
      <%= render @board %>
    </table>
  </div>
</div>

<tr id="post-<%= post.id %>">
  <td style="width: 60px">
    <%= image_tag 'icon_136700_256.jpg', class: 'rounded-circle', size: '50x50' %>
  </td>
  <td>
    <h3 class="small"><%= post.user_id %></h3>
    <div id="js-post-<%= post.id %>">
      <%= simple_format(post.body) %>
    </div>
    <div id="js-textarea-post-box-<%= @post.id %>" style="display: none;">
      <textarea id="js-textarea-post-<%= @post.id %>" class="form-control mb-1"><%= post.body %></textarea>
      <button class="btn btn-light js-button-edit-post-cancel" data-post-id="<%= post.id %>">キャンセル</button>
      <button class="btn btn-success js-button-post-update" data-post-id="<%= post.id %>">更新</button>
    </div>
  </td>

  <% if current_user.own?(post) %>
    <td class="action">
      <ul class="list-inline justify-content-center" style="float: right;">
        <li class="list-inline-item">
          <a href="#" class='js-edit-post-button' data-post-id="<%= post.id %>">
            <i class="fa-solid fa-pen"></i>
          </a>
        </li>
        <li class="list-inline-item">
          <a href="#" class='js-delete-post-button' data-post-id="<%= post.id %>">
            <i class="fa-solid fa-trash"></i>
          </a>
        </li>
      </ul>
    </td>
  <% end %>
</tr>