<div class="col-sm-12 col-lg-4 mb-3">
  <div id="board-id-<%= board.id %>">
   <div class="card-body">
    <h4 class="card-title">
      <a href="#">
        <%= board.title %>
      </a>
    </h4>
    <%= render 'crud_menus', board: board if current_user.own?(board) %>
    <ul class="list-inline">
      <li class="list-inline-item">
        <i class="fa-solid fa-user"></i>
        <%= board.user_id %>
      </li>
      <li class="list-inline-item">
        <i class="fa-solid fa-calendar-days"></i>
        <%= l board.created_at, format: :long %>
      </li>
     </ul>
     <p class="card-text"><%= board.body %></p>
   </div>
  </div>
</div>