<% content_for(:title, @board.title) %>
<div class="container pt-5">
  <div class="row md-3">
    <div class="col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
      
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <h3 class="d-inline"><%= @board.title %></h3>
              <%= render 'crud_menus', board: @board if current_user.own?(@board) %>
              <ul class="list-inline">
                <li class="list-inline-item">by <%= @board.user_id %></li>
                <li class="list-inline-item"><%= @board.created_at.strftime('%Y/%m/%d') %></li>
              </ul>
            </div>
          </div>
          <p><%= simple_format(@board.body) %></p>
        </div>
      </article>
    </div>
  </div>

  <%= render 'posts/form', {board: @boards, post: @post } %>
  <%=render 'posts/posts', { posts: posts } %>
</div>