<% content_for(:title, @board.title) %>

<div class="container pt-5">
  <div class="row mb-3 py-3">
    <div class="col-lg-8 offset-lg-2">
      <h2><%= t('.title') %></h2>

        <!-- 掲示板内容 -->
        <article class="card">
          <div class="card-body">
            <div class='row'>
              <div class='col-md-3'>
                <%= image_tag 'icon_136700_256.jpg', class: 'card-img-top img-fluid', size: '200x250' %>
              </div>
              <div class='col-md-9'>
                <h3 class="d-inline"><%= @board.title %></h3>
                  <%= render 'crud_menus', board: @board %>
                  <ul class="list-inline">
                    <li class="list-inline-item">by <%= @board.user_id %></li>
                    <li class="list-inline-item"><%= l @board.created_at, format: :long  %></li>
                  </ul>
              </div>
            </div>
            <p><%= simple_format(@board.body) %></p>
          </div>
        </article>
  
  
    <p>コメント件数：<%= @board.posts.count %></p>
      <% @board.posts.each do |post| %>
        <p><%= image_tag post.user.get_profile_image(100,100) %></p>
          <%= post.user.name %>
            <%= post.created_at.strftime('%Y/%m/%d') %><%= post.body %>
              <% if post.user == current_user %>
                <%= link_to "削除", board_post_path(post.board, post), method: :delete %>
              <% end %>
      <% end %>
  
    <div class="container">
      <%= form_with model: [@board, @post] do |f| %>
        <%= f.text_area :body, rows: '5', placeholder: "コメントをここに" %>
        <%= f.submit "送信する" %>
      <% end %>
    </div>

      <div class="row py-5">
        <%= link_to "<掲示板一覧へ>", boards_path %>
          </div>
  </div>
      </div>
    </div>
  </div>
</div>