<div class="container">
  <h2><%= @tag.tag_name %>の投稿一覧</h2>

    <h3>タグリスト</h3>
     <% @tag_list.each do |tag| %>
       <%= link_to tag.tag_name, search_path(tag_id: tag.id) %>
       <%= "(#{tag.photos.count})" %>
     <% end %>
     <% @photos.each do |photo| %>
     <div class="card">
      <h6 class="card-title">
        <%= link_to photo_path(photo.id) do %><%= photo.title %>
        <% end %>
      </h6>
    </div>
    <% end %>
</div>
