
<% @photos.each do |photo| %>
  <div>
    <%= link_to photo_path(photo.id) do %>
      <%= image_tag photo.get_image %>
    <% end %>
    <p>投稿ユーザー画像: <%= image_tag photo.user.get_profile_image(100,100) %></p>
    <p>タイトル: <%= photo.title %></p>
    <p>コメント: <%= photo.body %></p>
    <p>ユーザーネーム: <%= photo.user.name %></p>
    <p><%= link_to "#{photo.photo_comments.count} コメント", photo_path(photo.id) %></p>
    
    <h3>タグリスト</h3>
     <% @tag_list.each do |list| %>
     #<%= link_to list.tag_name, photos_path(tag_id: list.id) %>
     <%= "(#{list.photos.count})" %>
     <% end %>

  <% @photos.each do |photo| %> 
    #<%= link_to tag.tag_name, photos_path(tag_id: tag.id) %>
  <% end %>
  </div>
<% end %>

