<h1>フォト投稿</h1>

<% if @photo.errors.any? %>
  <%= @photo.errors.count %>件のエラーが発生しました
  <ul>
    <% @photo.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_with model: @photo do |f| %>
 <h4>タイトル</h4>
 <%= f.text_field :title %>
 <h4>画像</h4>
 <%= f.file_field :image, accept: "image/*" %>
 <h4>コメント</h4>
 <%= f.text_area :body %>
 <div>
 <%= f.label 'タグ' %>
 <%= f.text_field :tag_name,value: @tag_list %>
</div>
 <%= f.submit '投稿' %>
<% end %>
