 <h3>タグを検索</h3>
     <%= form_tag({controller:"users",action:"show"}, method: :get) do %>
     <%= text_field_tag :search %>
     <%= submit_tag '検索する'  %>
     <% end %>
 <br>
 
 <li>
   <%= link_to liked_photos_user_path(current_user), data: { "turbolinks" => false } do %>
   <i class="fas fa-thumbs-up"></i>いいねした投稿
   <% end %>
 </li>

　<div>
    <h3><%= @user.name %></h3>
    <%= image_tag @user.get_profile_image(100,100) %>
    <% if @user == current_user %>
    <p><%= link_to "プロフィール編集", edit_user_path(@user) %></p>
    <% end %>
  </div>
  <div class="card-list-container py-5">
<% @photos.each do |photo| %>
  <div class="card w-50 mx-auto mt-4 shadow-lg">
    <%= link_to photo_path(photo.id) do %>
      <%= image_tag photo.get_image, class: "card-img-top"; %>
    <% end %>
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <%= image_tag photo.user.get_profile_image(100,100), class: "mt-3 rounded-circle"; %>
        </div>
        <div class="col-10">
          <p class="card-title">
            <%= link_to(photo_path(photo.id), class: "text-dark") do %>
              <strong><i class="fa-solid fa-paw-simple"></i><span> <%= photo.title %></span></strong>
            <% end %>
          </p>
          <p class="card-text">一言：<%= photo.body %></p>
          <span><i class="fas fa-user"></i> by <%= photo.user.name %> ｜ </span>
          <span><%= link_to "#{photo.photo_comments.count} コメント", photo_path(photo.id), class: "text-dark" %></span>
          <p>タグ:  #<%= link_to tag.tag_name, photos_path(tag_id: tag.id) %></p>
        </div>
      </div>
    </div>
  </div>
  <% end %>
  <%= paginate @photos %>